LATRACE-CFLAGS
autom4te.cache/
config.log
config.status
configure
deps.make

doc/asciidoc.conf
doc/latrace.1
doc/latrace.html
doc/latrace.xml

latrace
libltaudit.so.0.5.7

src/args-bison.c
src/args-bison.h
src/args-bison.output
src/args-flex.c
src/autoconf.h
src/autoconf.make

*.o

debian/files
debian/stamp-build
debian/substvars
